<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Протоколы</title>
	<!-- <style type="text/css">
   TABLE {
    width: 300px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   }
  </style> -->
</head>
<body>
	<h1>{{ header }}</h1>
	<table>
		<tr>
		{% for col in tableHead %}
			<th>{{ col }}</th>
		{% endfor %}
		</tr>
	{% for row in rows %}
		<tr>
		{% for data in row %}
			<td>{{ data }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
</body>
</html>